.wrapper {
  background-color: #282936cb;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  background-color: var(--theme-main-primaryColor);
  border-radius: 1rem;
  width: 100%;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.formButtons {
  display: flex;
  gap: 0.5rem;
}

.submitGroup {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5rem;
}