.wrapper {
  background-color: #2829364a;
}

.todoList {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.3rem;
  width: 100%;
}

.dataView {
  background-color: transparent;

  &__header {
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  &__content {
    background-color: transparent;
  }
}
